<div class="container-big-card">
    <div class="big-card-image">
        <img 
            src="{{photoCover}}"
            height="200px"
            alt=""
        >
    </div>
        <div class="big-card-title">
            <h1><a [routerLink]="['content', Id]" class="follow-content">{{cardTitle}}</a></h1>
        </div>
        <div class="big-card-description">
            <p>
                <a [routerLink]="['content', Id]">
                    &nbsp;{{cardDescription}}
                </a>
            </p>
        </div>
</div>
